<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="TestDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BrelloTestDB.mdf;Initial Catalog=aspnet-Brello-20151026042708;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Card" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Brello.Tests.Models.Card;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>
