@model IEnumerable<Brello.Models.BrelloList>

@{

        Layout = "~/Views/Shared/_BrelloLayout.cshtml";
}
<div id="board" class="green container-fluid">
    <div class="row" style="display:inline-flex;">
        @foreach (var item in Model)
        {
            <div class="brellolist-wrapper">
                <div class="brellolist-header"></div>
                <div class="brellolist">
                    <ul class="center">

                    </ul>
                </div>
                <div class="brellolist-footer"></div>
            </div>
        }
    </div>
</div>






    @*@using (Html.BeginForm("Create", "Board", FormMethod.Post, htmlAttributes: new { style = "display:block;", @class = "mystyle"}))
    {
        @Html.AntiForgeryToken()
        @Html.TextBox("name")
    }*@

    
        